<meta charset="utf-8">
{% load static %}
<title>BrightMate</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


 <div class="container-fluid">
    
    
    <div class="table-responsive">
        <center>   <h1 class="my-4" style="color:teal;">All Categories</h1></center>

        <table class="table table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>
                        <a href="{% url 'category_books' category.id %}" class="category-link">
                            <div class="image-container">
                                 {{ category.name }}

                            </div>
                            
                        </a>                       
                          
                    </td>
                    <td id="des">{{ category.description }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" class="text-center" style="font-size:30px;" >No categories found.</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

</div>
<br>
<br>
<button onclick="history.back()" class="btn btn-info" >Go Back</button>


<style>
    .table-responsive{
        background-color: white;
        box-shadow: 10px 10px 5px 5px teal
    }
    .category-link {
        text-decoration: none;
        color: black;
        font-size: 30px;
    }
    th{
        font-size: 30px;
    }
    .category-link:visited {
        text-decoration: none;
    }
    
    .category-link .image-container:hover{
        color:  teal;
    }
    .btn {
        width: 100%;
        max-width: 10rem;
        } 
    #des{
        font-size: 30px;
    }
    body {
        background-image: url('https://img.freepik.com/free-photo/young-woman-studying-library_1303-19021.jpg?size=626&ext=jpg&ga=GA1.2.1319810605.1677582836&semt=sph');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin: 0;
        padding: 0;
      }
     ;

</style>