<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVpHTPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSf" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>




<div id="mySidebar" class="sidebar">
    <h2 class="m-0 text" style="color:darkturquoise;"><i class="fa fa-book me-3"></i>BrightMate</h2>
  
  
    <img src="https://www.logolynx.com/images/logolynx/s_23/23938578fb8d88c02bc59906d12230f3.png">
   <a href="/logout/"> <img src="https://th.bing.com/th/id/OIP.Kb13Ps1nwSYI5LrhQwEhAwHaHa?pid=ImgDet&w=500&h=500&rs=1" height="50px" width="50px">LogOut</a>
    <form action="/search/" class="d-flex mb-3 mb-lg-0" method="get">
        <div class="input-group flex-nowrap">
          <input type="text" class="form-control form-control-lg" name="q" placeholder="Search Here" value="{{query}}">
          <button type="submit" class="input-group-text btn-" id="btt" style="background-color:darkturquoise; color:black;" ><i class="bi bi-search me-2" ></i> Search</button>
        </div>
      </form>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/admin_home/"><i class="fas fa-home"></i>Home</a>
    <a href="/add_category/"><i class="fa fa-plus"></i> Add Category</a>
  
    <div class="dropdown">
        <a href="#" style="text-align: center;"><i class="fa fa-caret-down"></i>Requested</a>
        <div class="dropdown-content">
          <a href="/all_requested_books/">
            <i class="bi bi-chat-dots"></i>
  
  Requested</a>
          <a href="/returned_books_admin/"><i class="fas fa-book"></i>Return Request</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#"><i class="fa fa-caret-down"></i>Books</a>
         <div class="dropdown-content">
           <a href="/add_book/"><i class="fa fa-plus"></i>Add Book</a>
           <a href="/book_list_all/"><i class="fa fa-book"></i>All Books</a>
         </div>
       </div>
       <a href="/admin_home/"><i class="bi bi-exclamation-diamond"></i>Penalty</a>
  
    <a href="#">Contact</a>
  
  
     
  
      
                
      <a href="/show_members/"><i class="bi bi-people"></i>
        Members</a>
  
    </div>
  </div>
  
  
  
  <div id="main">
    <button class="openbtn" onclick="openNav()" style="background-color:darkturquoise;">&#9776;BrightMate</button>
  
  </div>


  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" style="border: 10px solid teal;">
        <thead>
          <tr>
            <th colspan="9">
              <h1 class="my-4 text-center">All Return Request</h1>
            </th>
          </tr>
          <tr>
            <th>Id</th>
            <th>Member Name</th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Copies</th>
            <th>Return Date</th>
            <th>Return Expired Date</th>
            <th>Fine Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for book in returned_books %}
          <tr>
            <td>{{ book.member.id }}</td>
            <td>{{ book.member.username }}</td>
            <td>{{ book.issue.book.title }}</td>
            <td>{{ book.issue.book.author }}</td>
            <td>{{ book.issue.book.available_copies }}</td>
            <td>{{ book.return_date.date }}</td>
            <td>{{ book.issue.due_date|date:"Y-m-d" }}</td>
            <td>
              {% if book.fine_amount > 0 %}
              {{ book.fine_amount }}
              {% else %}
              0
              {% endif %}
            </td>
            <td>
              {% if book.penalty %}
              {{ book.penalty }}
              {% else %}
              <div class="btn-group">
                <form method="post" action="{% url 'proceed_return' return_id=book.id %}" id="proceed-form-{{ book.id }}">
                  {% csrf_token %}

                  <button type="button" class="btn btn-success btn-sm" onclick="proceedReturn({{ book.id }})">Proceed</button>
                  <a href="{% url 'cancel_return' return_id=book.id %}" class="btn btn-danger btn-sm">Cancel</a>
                </form>
              </div>
              <!-- Modal -->
<!-- Modal -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
    


                              {% endif %}
                  </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="9" class="text-center" style="font-size:30px;">No books have been returned yet.</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  </table>
                  </div>
                  </div>
  


<!-- Add Penalty Amount Modal -->

  
  <!-- Add Penalty Reason Modal -->





  
<br>
<br>
<button onclick="history.back()" class="btn btn-info">Go Back</button>
<style>
    body {
        background-image: url(https://img.freepik.com/free-photo/young-woman-studying-library_1303-19021.jpg?size=626&ext=jpg&ga=GA1.2.1319810605.1677582836&semt=sph);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: antiquewhite;
      }
      .table {
        background-color: white;
}
     
      
      
.btn {
    width: 100%;
    max-width: 10rem;
    } 
/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: teal;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f3f3f3;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #bbb;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* The dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    text-align: center; /* add this line to center the items */
  }
  
  .dropdown-content {
    width: 200px; /* Set a fixed width */
    background-color: #f6f6f6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
    /* Styling for the search bar */
  form {
    display: inline-block;
    margin-top: 10px;
  }
  
  input[type="text"] {
    background-color: #f6f6f6;
    border: 2px;
    padding: 10px;
    font-size: 17px;
    width: 300px;
  }
  
  button[type="submit"] {
    background-color: teal;
    color:black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }


  
  
  button[type="submit"]:hover {
    background-color: teal;
  }


</style>
  <script>
      /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
document.getElementById("mySidebar").style.width = "250px";
document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
document.getElementById("mySidebar").style.width = "0";
document.getElementById("main").style.marginLeft = "0";
}

    function proceedReturn(returnId) {
      if (confirm("Are you sure you want to mark this return as Proceed?")) {
        document.getElementById("proceed-form-" + returnId).submit();
      }
    }
    function showPenaltyModal(id) {
        $('#penaltyModal-' + id).modal('show');
      }
    
  </script>


